datasets
jupyter
jupyter-cache
nbformat
ipykernel
jupytext
levenshtein
matplotlib
nltk
numpy
pandas
plotly
pyarrow
pyyaml
scikit-learn
seaborn
sqlalchemy
sentence-transformers
tqdm
twokenize
umap-learn
urlextract
# IDE
cairosvg
grip
quarto
jupyterlab-quarto
ipython
ipywidgets
kaleido
notebook
pnglatex
pynvim
pyperclip
