bertopic
datasets
gensim
hdbscan
ipykernel
jupyter
jupyter-cache
jupytext
levenshtein
matplotlib
nbformat
nltk
numpy
pandas
plotly
pyarrow
pyspark
pyyaml
scikit-learn
seaborn
sentence-transformers
sqlalchemy
tqdm
twokenize
umap-learn
wordcloud
# IDE
cairosvg
grip
quarto
jupyterlab-quarto
ipython
ipywidgets
kaleido
notebook
pnglatex
pynvim
pyperclip
